.nav .navbar{
  background-color: #332421;
  color: #D0C7C2;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 8px  #896b60;
  width: 100%;

}
.nav .navbar .nav-list a{
  text-decoration: none;
  color: #D0c7c2;
  font-size: 1.4rem;
  margin-right: 2rem;
}
.bgHome img{
  width: 100%;
  height: 90vh
}
.bgHome span{
  font-size: 3.5rem;
  font-weight: 800;
}
.skills{
  background-color: #caba9c;
  height: 90vh;
}

.sill h1{
  box-sizing: border-box;
  border: 2px solid gold;
  color: #013220;
  background-color: #D0c7c2;
  padding: 1%;
  border-radius: 20px;
}
.skills-title{
  color: #013220;
  text-align: center;
  border-bottom: 1px solid #332421;
  width: 60%;
  margin-left: 18%;
  box-shadow: #332421;
}
.sill{
  background-color: #986D5A;
  border-radius: 20px;
  margin-top: 2rem;
  padding: 5px 30px 5px 5px;
}


.skill-logo{
  text-align: center;
  font-size:100;
}
.skill-info{
  text-align: center;
  font-size: 1rem;
}

